body {
    padding-left: 10%;
    padding-right: 10%;
}

header {
    display: block;
    font-size: 30px;
}

content {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}

block, sub {
    display: block;
    padding: 20px;
}

block title {
    display: block;
    font-size: 24px;
}

sub title {
    display: block;
    font-size: 20px;
}



.cy {
    width: 400px;
    height: 400px;
    display: inline-block;
}

p {
    position: relative;
    left: 30px;
    font-size: 15px;
}

.cyrank {
    top: -15px;
}
