body {
    padding-left: 15%;
    padding-right: 15%;
}

header {
    display: block;
    font-size: 30px;
}

content {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}

block, sub-block {
    display: block;
    padding: 20px;
}

block title {
    display: block;
    font-size: 24px;
}

sub-block title {
    display: block;
    font-size: 20px;
}

.content-main {
    line-height: 24px;
}

th, td {
    padding: 0 10px 4px 0;
    text-align: left;
}

.cy {
    width: 400px;
    height: 400px;
    display: inline-block;
    /* margin: 0 auto; */
}

p {
    position: relative;
    left: 22px;
    font-size: 15px;
}

.cyrank {
    top: -15px;
}
